.collection-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.input-field {
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    color: white;
}

.input-field::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.title-input {
    margin-bottom: 25px;
}

.description-row {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.cover-upload {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.cover-upload:hover {
    transform: scale(1.02);
    background-color: #bbbbbb;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.desc-input {
    height: 180px;
    resize: none;
}

.movie-selection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.movie-slot {
    overflow: visible;
    display: block;
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: all 0.3s ease;
}

.movie-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.movie-slot:hover {
    transform: translateY(-10px);
}

.movie-slot:hover img {
    border-color: #ffffff;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
}

.sticky-actions-wrapper {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    pointer-events: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    pointer-events: auto;
}

.action-btn{
    background-color: rgba(22, 26, 38, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

