.section {
    text-align: center;
}

.section-title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section-title.big {
    font-size: 40px;
    border-top: none;
}

.movie-grid, .collection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.movie-card {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.movie-card img {
    width: 100%;
    aspect-ratio: 2 / 3; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border: 2px solid transparent; 
    transition: all 0.3s ease;
    display: block;
}

.movie-card:hover {
    transform: translateY(-10px);
}

.movie-card:hover img {
    border-color: #ffffff;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
}

.movie-card p, .coll-card p {
    margin-top: 15px;
    font-size: 16px;
    color: #e0e0e0;
    transition: color 0.3s ease;
}

.movie-card:hover p, .coll-card:hover p {
    color: #ffffff;
}

.coll-card {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.img-box {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coll-card:hover {
    transform: scale(1.05);
}

.coll-card:hover .img-box {
    border-color: #ffffff;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.15);
}

.article-container {
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: left;
}

.article-header {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
    align-items: stretch;
}

.article-img {
    width: 45%; 
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.article-headline-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    flex: 1;
}

.user-pill {
    font-size: 20px;
    padding: 15px 100px;
    align-self: center;
    margin-top: 0;
}

.article-headline-box h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

.article-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #d1d1d1;
    margin-bottom: 20px;
}

.arrow-footer{
    padding: 20px 0px;
}

.arrow-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrow-btn {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
}

.arrow-btn:hover {
    transform: translateX(10px);
}
