.screen {
  background: radial-gradient(
    50% 50% at 53% 50%,
    rgba(63, 68, 113, 1) 0%,
    rgba(40, 42, 57, 1) 64%
  );
  width: 100%;
  min-width: 1728px;
  min-height: 2025px;
  position: relative;
}

.screen .rectangle {
  position: absolute;
  top: 0;
  left: 133px;
  width: 1462px;
  height: 135px;
  background-color: #e5d9c8;
  border-radius: 0px 0px 48px 48px;
  aspect-ratio: 10.83;
}

.screen .img {
  position: absolute;
  top: 286px;
  left: 335px;
  width: 194px;
  height: 217px;
}

.screen .rectangle-2 {
  position: absolute;
  top: 696px;
  left: 362px;
  width: 194px;
  height: 217px;
  object-fit: cover;
}

.screen .div {
  position: absolute;
  top: 62px;
  left: 188px;
  width: 185px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 32px;
  border: 1px solid;
  border-color: #000000;
}

.screen .rectangle-3 {
  position: absolute;
  top: 286px;
  left: 551px;
  width: 194px;
  height: 217px;
}

.screen .rectangle-4 {
  position: absolute;
  top: 696px;
  left: 578px;
  width: 194px;
  height: 217px;
  object-fit: cover;
}

.screen .rectangle-5 {
  position: absolute;
  top: 286px;
  left: 767px;
  width: 194px;
  height: 217px;
}

.screen .rectangle-6 {
  position: absolute;
  top: 696px;
  left: 794px;
  width: 194px;
  height: 217px;
  object-fit: cover;
}

.screen .rectangle-7 {
  position: absolute;
  top: 286px;
  left: 983px;
  width: 194px;
  height: 217px;
}

.screen .rectangle-8 {
  position: absolute;
  top: 696px;
  left: 1010px;
  width: 194px;
  height: 217px;
  object-fit: cover;
}

.screen .rectangle-9 {
  position: absolute;
  top: 286px;
  left: 1199px;
  width: 194px;
  height: 217px;
}

.screen .rectangle-10 {
  position: absolute;
  top: 696px;
  left: 1226px;
  width: 194px;
  height: 217px;
}

.screen .text-wrapper {
  top: 182px;
  left: 247px;
  width: 1234px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 64px;
  text-align: center;
  line-height: 78.1px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-2 {
  top: 1073px;
  left: 736px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 64px;
  text-align: center;
  line-height: 78.1px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-3 {
  top: 503px;
  left: 327px;
  width: 213px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-4 {
  top: 913px;
  left: 352px;
  width: 213px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 913px;
  left: 565px;
  width: 213px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.6px;
}

.screen .text-wrapper-6 {
  position: absolute;
  top: 1277px;
  left: 1000px;
  width: 213px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.6px;
}

.screen .image {
  position: absolute;
  top: 1260px;
  left: 403px;
  width: 444px;
  height: 333px;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 916px;
  left: 784px;
  width: 213px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.6px;
}

.screen .text-wrapper-8 {
  top: 910px;
  left: 1006px;
  width: 226px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-9 {
  top: 915px;
  left: 1216px;
  width: 226px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-10 {
  top: 506px;
  left: 551px;
  width: 194px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-11 {
  top: 506px;
  left: 756px;
  width: 216px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-12 {
  top: 526px;
  left: 972px;
  width: 216px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-13 {
  top: 523px;
  left: 1188px;
  width: 216px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 30px;
  text-align: center;
  line-height: 36.6px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-14 {
  top: 592px;
  left: 274px;
  width: 1234px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 64px;
  text-align: center;
  line-height: 78.1px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .p {
  top: 1383px;
  left: 904px;
  width: 406px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #f5e8e8;
  font-size: 50px;
  line-height: 61.0px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-15 {
  top: 35px;
  left: 1296px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  text-align: center;
  line-height: normal;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-16 {
  top: 56px;
  left: 1014px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-17 {
  top: 59px;
  left: 739px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-18 {
  top: 62px;
  left: 464px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .text-wrapper-19 {
  top: 62px;
  left: 154px;
  width: 254px;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: 36px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .rectangle-11 {
  position: absolute;
  top: 1257px;
  left: 904px;
  width: 406px;
  height: 92px;
  border-radius: 42px;
  border: 4px solid;
  border-color: #ffffff;
}

.screen .rectangle-12 {
  position: absolute;
  top: 1217px;
  left: 335px;
  width: 1024px;
  height: 697px;
  border: 4px solid;
  border-color: #ffffff;
}

.screen .line {
  position: absolute;
  top: 179px;
  left: 274px;
  width: 1174px;
  height: 3px;
}

.screen .line-2 {
  position: absolute;
  top: 589px;
  left: 247px;
  width: 1174px;
  height: 3px;
}

.screen .line-3 {
  position: absolute;
  top: 988px;
  left: 301px;
  width: 1174px;
  height: 3px;
}

.screen .line-4 {
  position: absolute;
  top: 1871px;
  left: 937px;
  width: 374px;
  height: 22px;
}

.screen .text-wrapper-20 {
  top: 1617px;
  left: 403px;
  width: 907px;
  font-family: "Montserrat-Regular", Helvetica;
  color: #ffffff;
  font-size: 28px;
  line-height: 34.2px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
}